---
interface Props {
  count?: number;
  sectionTitle: string;
}

const { count, sectionTitle } = Astro.props;
const allPosts = await Astro.glob('../pages/blog/*.md');

allPosts.sort((a, b) => {
  return Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date);
});

if (count && allPosts.length > 0) {
  allPosts.slice(0, count);
}
---

<div>
  <h2 class="font-semibold text-xl mb-4">{sectionTitle}</h2>
  <div class="flex flex-col mx-auto">
    {
      allPosts.slice(0, count).map((post: any) => {
        const title = post.frontmatter.title;
        const formattedDate = new Date(post.frontmatter.date).toLocaleDateString('en-US', {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
        });

        return (
          <a
            href={post.url}
            class="border-b py-4 px-1 flex hover:shadow-lg transition-all ease-in-out"
          >
            <div class="w-full">
              <div class="flex flex-row mb-2">
                <h3 class="text-lg mb-1">{title}</h3>
                <p class="ml-auto">{formattedDate}</p>
              </div>
              <div>
                {post.frontmatter.tags.length > 0 && (
                  <div class="flex flex-wrap space-x-1">
                    {post.frontmatter.tags.map((tag: string) => (
                      <span class="text-xs border rounded-md px-4 py-1">{tag}</span>
                    ))}
                  </div>
                )}
              </div>
            </div>
          </a>
        );
      })
    }
  </div>
</div>
